/* product.html & css */
main {
    margin-top: 92px;
    min-height: calc(100vh - 255px); 
}
#product {
    padding: 65px 0 49px;
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    align-items: flex-start;
}
#product .main_img {
    width: calc(100% - 400px);
}
#product .product_info{
    margin-left: 40px;
}
#product .product_info .product_title {
    line-height: 38px;
    font-size: 32px;
    letter-spacing: 6.4px;
    color: #3f3a3a;
}
#product .product_info .product_id {
    line-height: 24px;
    font-size: 20px;
    letter-spacing: 4px;
    color: #bababa;
    margin-top: 16px;
}
#product .product_info .product_price {
    line-height: 36px;
    font-size: 30px;
    color: #3f3a3a;
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #3f3a3a;
}
#product .product_info .product_variants {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
#product .product_info .product_variants .product_variant_name {
    line-height: 24px;
    font-size: 20px;
    letter-spacing: 4px;
    color: #3f3a3a;
    margin-right: 20px;
}
#product .product_info .product_variants .color {
    display: flex;
}
#product .product_info .product_variants .color .product_color {
    width: 36px;
    height: 36px;
    padding: 6px;
    margin-right: 15px;
    border: solid 6px white;
    cursor: pointer;
    box-shadow: 0px 0px 1px #bbbbbb;
}
#product .product_info .product_variants .color .product_color_selected {
    outline: 2px solid #979797;
}
#product .product_info .product_variants .size {
    display: flex;
}
#product .product_info .product_variants .size .product_size{
    width: 34px;
    height: 34px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #ececec;
    color: #3f3a3a;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
}
#product .product_info .product_variants .size .product_size_selected{
    background-color: black;
    color: white;
}
#product .product_info .product_variants .size .product_size_disabled {
    opacity: 0.25;
    cursor: not-allowed;
}
#product .product_info .product_variants .amount {
    width: 160px;
    height: 44px;
    border: solid 2px #979797;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: #8b572a;
    padding: 0 10px;
}
#product .product_info .product_variants .amount button {
    font-size: inherit;
    cursor: pointer;
}
button {
    background: none;
    border: none;
    outline: none;
}
#product .product_info #add_to_cart {
    width: 360px;
    height: 60px;
    background-color: black;
    color: white;
    margin-top: 29px;
    font-size: 20px;
    letter-spacing: 4px;
    cursor: pointer;
}
#product .product_info .product_note {
    margin-top: 40px;
}
#product .product_info .product_note, .product_texture, .product_description, .product_wash, .product_place {
    line-height: 30px;
    font-size: 20px;
    color: #3f3a3a;
    white-space: pre;
}
#product .product_info .product_texture, .product_wash {
    margin-top: 30px;
}
.divider {
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 4px;
    color: #8b572a;
    margin-top: 50px;
    position: relative;
    width: 100%;
    z-index: -1;
}
.divider::before{
    position: absolute;
    content: "";
    background-color: #3f3a3a;
    top: 50%;
    right: 0;
    left: 208px;
    height: 2px;
}
.product_story {
    margin-top: 28px;
    line-height: 30px;
    font-size: 20px;
    color: #3f3a3a;
}
.product_img {
    width: 100%;
    margin-top: 30px;
}
@media only screen and (max-width: 1024px) {
    main {
        margin-top:0px;
    }
    #product .main_img {
        width: 100%;
    }
    #product .product_info {
        margin-left: 0;
        padding: 17px 24px;
        width: 100%;
    }
    #product .product_info .product_title {
        line-height: 24px;
        font-size: 20px;
        letter-spacing: 4px;
    }
    #product .product_info .product_id {
        line-height: 19px;
        font-size: 16px;
        letter-spacing: 3.2px;
        margin-top: 10px;
    }
    #product .product_info .product_price {
        line-height: 24px;
        font-size: 20px;
        margin-top: 20px;
        padding-bottom: 10px;
    }
    #product .product_info .product_variants {
        margin-top: 28px;
    }
    #product .product_info .product_variants .product_variant_name {
        line-height: 17px;
        font-size: 14px;
        letter-spacing: 2.8px;
    }
    #amount_noshow  {
        display: none;
    }
    #product .product_info .product_variants .color .product_color_selected {
        outline: 2px solid #979797;
    }
    #product .product_info .product_variants .size .product_size_selected{
        background-color: black;
        color: white;
    }
    #product .product_info .product_variants .amount {
        width: 100%;
        height: 44px;
        padding: 0 30px;
    }
    #product .product_info #add_to_cart {
        width: 100%;
        height: 44px;
        margin-top: 10px;
        font-size: 16px;
        letter-spacing: 3.2px;
    }
    #product .product_info .product_note {
        margin-top: 28px;
    }
    #product .product_info .product_note, .product_texture, .product_description, .product_wash, .product_place {
        line-height: 24px;
        font-size: 14px;
        color: #3f3a3a;
        white-space: pre;
    }
    #product .product_info .product_texture, .product_wash {
        margin-top: 24px;
    }
    #product .divider {
        line-height: 30px;
        font-size: 16px;
        letter-spacing: 3.2px;
        margin-top: 28px;
        padding: 0 24px;
    }
    #product .divider::before{
        right: 24px;
    }
    #product .product_story {
        margin-top: 12px;
        line-height: 25px;
        font-size: 14px;
        padding: 0 24px;
    }
    #product .product_img {
        margin-top: 20px;
        padding: 0 24px;
    }
}